$color-one: #a770ef;
$color-two: #cf8bf3;
$color-three: #fdb99b;
$color-four: #ffebfd;
$white: rgba(
	$color: white,
	$alpha: 0.3,
);

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Lato", sans-serif;
	text-decoration: none;
	
}
a {
	text-decoration: none;
}

body {
	background: linear-gradient($color-one, $color-two, $color-three 150%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

@mixin buttonStyle {
	border-radius: 50px;
	width: 45px;
	height: 45px;
	position: relative;
	background-color: $white;
	border: 2px white solid;
	color: $color-one;
	text-shadow: white 1px 1px 1px;
	font-size: 1.4rem;
	box-shadow: $color-one 2px 2px 1px;
}

@mixin aparecer {
	animation: aparecer 0.2s ease-in;
	@keyframes aparecer {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 100%;
		}
	}
}