section {
    height: 640px;
    width: 400px;
    background-color: rgba($color: white, $alpha: 1);
    border-radius: 15px;
    box-shadow: rgba($color: #000000, $alpha: 0.2) 2px 2px 5px;
    header{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: 120px;
        background: linear-gradient($color-two, $color-one);
        span{
            color: white;
            position: absolute;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            #dayTitle{
                font-size: 4rem;
                margin: 20px 0 0 20px;
            }
            #monthTitle{
                position: abolute;
                margin-left: 10px;
            }
            #yearTitle{
                position: absolute;
                bottom: 10%;
                left: 50%;
                margin-left: 10px;
            }
            #weekDay{
                font-size: 1.4rem;
                position: absolute;
                right: -105%;
                bottom: -15%;
            }
        }
        #clearButton {
            right: -87%;
            margin-top: 3%;
            @include buttonStyle;
            background-color: rgba($color: white, $alpha: 0.9);
            }
        #clearButton:hover{
            @include buttonStyle;
            font-size: 1.2rem;
            background: linear-gradient($color-two, $color-one);
            color: white;
            box-shadow: none;
            border: 2px solid white;
            text-shadow: none;
        }
    }
    .form {
        position: relative;
        bottom: -71%;
        display: flex;
        align-items: center;
        #input {
            border-radius: 10px;
            border: none;
            outline: none;
            padding-left: 10px;
            width: 80%;
            height: 36px;
            margin: 8px;
            font-size: 1.2rem;
            color: $color-one;
            border: $color-one 2px solid;
        }
        #addButton {
            @include buttonStyle;
            font-size: 1.2rem;
            border: $color-one 2px solid;
            box-shadow: none;
        }
        #addButton:hover{
            @include buttonStyle;
            font-size: 1.2rem;
            background-color: $color-one;
            color: white;
            box-shadow: none;
            border: $color-one 2px solid;
        }
    }
    button {
        background-color: white;
        outline: none;
        padding: 7px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.01rem;
    }

    .listBody {
        display: flex;
        align-items: center;
        justify-content: center;
        .listItems {
            font-size: 1.5rem;
            width: 95%;
            height: 40vh;
            position: relative;
            margin-top: -5vh;
            ul {
                color: white;
                z-index: +1;
                li {
                    border-radius: 5px;
                    padding: 4px 0px 4px 10px;
                    margin-top: 7px;
                    background-color: rgba($color: white, $alpha: 0.5);
                    color: $color-one;
                    border: $color-one solid 2px;
                    @include aparecer;
                    overflow: hidden;
                    }
                    .checkbox {
                        font-size: 1.5rem;
                        position: absolute;
                        margin-top: 1%;
                        right: 5%;
                        height: 25px;
                        width: 25px;
                        border-radius: 100px;
                        text-align: center;
                        i{
                            position: absolute;
                            text-align: center;
                            color: $color-one;
                            cursor: pointer;
                        }
                    }
                }
                li:hover{
                    color: white;
                    background-color: $color-one;
                    i{
                        color: white;
                    }
                }
            }
        }
}

@media screen and (max-width: 600px){
    section{
        height: 100vh;
        width: 100vw;
    }
    #weekDay{
        position: absolute;
        left: 210%;
    }
    li{
        margin-bottom: 15px;
    }
    .form{
        top: 74%;
    }
}

.loading{
    z-index: 99;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient($color-one, $color-two, $color-three);
    display: flex;
    justify-content: center;
    align-items: center;
    .dot{
        width: 30px;
        height: 30px;
        margin: 10px;
        background: white;
        border-radius: 50px;
        animation: jump .3s ease-in alternate infinite;
        @keyframes jump{
            0%{
                transform: translateY(0px);
            }
            100%{
                transform: translateY(30px);
            }
        }
    }
    .one{
        animation-delay: 0s;
    }
    .two{
        animation-delay: 0.2s;
    }
    .three{
        animation-delay: 0.4s;
    }
}