section{
    height: 600px;
    width: 400px;
    background-color: $one;
    margin-top: 10%;
    border-radius: 15px;
}

#input {
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 80%;
    height: 30px;
    margin: 8px;
}

button{
    background-color: white;
    outline: none;
    padding: 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.01rem;
}

button:hover{
    filter: invert(100%);
}

#addButton{
    margin-right: 10px;
}

.form{
    display: flex;
    align-items: center;
}

.listBody{
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItems{
    font-size: 1.5rem;
    width: 90%;
    height: 40vh;
    position: relative;
    margin-top: 1vh;
}

ul{
    color: white;
    z-index: +1;
}

footer{
    width: 100%;
    height: 100%;
    bottom: 0;
    margin-top: 65%;
}

#clearButton{
    width: 100px;
    position: relative;
    right: -70%;
    bottom: -90%;
}

ul li:nth-child(odd){
    color: $one;
    background-color: $two;
}

ul li:nth-child(even){
    color: $one;
    background-color: $four;
}

li{
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.checkbox{
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    position: absolute;
    right: 0vh;
    margin-right: 1vh;
    height: 20px;
    width: 20px;
    border-radius: 100px;
}
