* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#a770ef), color-stop(#cf8bf3), color-stop(150%, #fdb99b));
  background: linear-gradient(#a770ef, #cf8bf3, #fdb99b 150%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

section {
  height: 640px;
  width: 400px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
          box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
}

section header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf8bf3), to(#a770ef));
  background: linear-gradient(#cf8bf3, #a770ef);
}

section header span {
  color: white;
  position: absolute;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
}

section header span #dayTitle {
  font-size: 4rem;
  margin: 20px 0 0 20px;
}

section header span #monthTitle {
  position: abolute;
  margin-left: 10px;
}

section header span #yearTitle {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: 10px;
}

section header span #weekDay {
  font-size: 1.4rem;
  position: absolute;
  right: -105%;
  bottom: -15%;
}

section header #clearButton {
  right: -87%;
  margin-top: 3%;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px white solid;
  color: #a770ef;
  text-shadow: white 1px 1px 1px;
  font-size: 1.4rem;
  -webkit-box-shadow: #a770ef 2px 2px 1px;
          box-shadow: #a770ef 2px 2px 1px;
  background-color: rgba(255, 255, 255, 0.9);
}

section header #clearButton:hover {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px white solid;
  color: #a770ef;
  text-shadow: white 1px 1px 1px;
  font-size: 1.4rem;
  -webkit-box-shadow: #a770ef 2px 2px 1px;
          box-shadow: #a770ef 2px 2px 1px;
  font-size: 1.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf8bf3), to(#a770ef));
  background: linear-gradient(#cf8bf3, #a770ef);
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid white;
  text-shadow: none;
}

section .form {
  position: relative;
  bottom: -71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .form #input {
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  width: 80%;
  height: 36px;
  margin: 8px;
  font-size: 1.2rem;
  color: #a770ef;
  border: #a770ef 2px solid;
}

section .form #addButton {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px white solid;
  color: #a770ef;
  text-shadow: white 1px 1px 1px;
  font-size: 1.4rem;
  -webkit-box-shadow: #a770ef 2px 2px 1px;
          box-shadow: #a770ef 2px 2px 1px;
  font-size: 1.2rem;
  border: #a770ef 2px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section .form #addButton:hover {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px white solid;
  color: #a770ef;
  text-shadow: white 1px 1px 1px;
  font-size: 1.4rem;
  -webkit-box-shadow: #a770ef 2px 2px 1px;
          box-shadow: #a770ef 2px 2px 1px;
  font-size: 1.2rem;
  background-color: #a770ef;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: #a770ef 2px solid;
}

section button {
  background-color: white;
  outline: none;
  padding: 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.01rem;
}

section .listBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .listBody .listItems {
  font-size: 1.5rem;
  width: 95%;
  height: 40vh;
  position: relative;
  margin-top: -5vh;
}

section .listBody .listItems ul {
  color: white;
  z-index: +1;
}

section .listBody .listItems ul li {
  border-radius: 5px;
  padding: 4px 0px 4px 10px;
  margin-top: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #a770ef;
  border: #a770ef solid 2px;
  -webkit-animation: aparecer 0.2s ease-in;
          animation: aparecer 0.2s ease-in;
  overflow: hidden;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

section .listBody .listItems ul .checkbox {
  font-size: 1.5rem;
  position: absolute;
  margin-top: 1%;
  right: 5%;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  text-align: center;
}

section .listBody .listItems ul .checkbox i {
  position: absolute;
  text-align: center;
  color: #a770ef;
  cursor: pointer;
}

section .listBody .listItems li:hover {
  color: white;
  background-color: #a770ef;
}

section .listBody .listItems li:hover i {
  color: white;
}

@media screen and (max-width: 600px) {
  section {
    height: 100vh;
    width: 100vw;
  }
  #weekDay {
    position: absolute;
    left: 210%;
  }
  li {
    margin-bottom: 15px;
  }
  .form {
    top: 74%;
  }
}

.loading {
  z-index: 99;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#a770ef), color-stop(#cf8bf3), to(#fdb99b));
  background: linear-gradient(#a770ef, #cf8bf3, #fdb99b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading .dot {
  width: 30px;
  height: 30px;
  margin: 10px;
  background: white;
  border-radius: 50px;
  -webkit-animation: jump .3s ease-in alternate infinite;
          animation: jump .3s ease-in alternate infinite;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

.loading .one {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading .two {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading .three {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
/*# sourceMappingURL=main.css.map */